repos:
  - repo: local
    hooks:
      - id: go-tests
        name: Go tests (backend)
        entry: make test-backend
        language: system
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: make lint-backend
        language: system
        pass_filenames: false

      - id: web-tests
        name: Web tests
        entry: make test-web
        language: system
        pass_filenames: false

      - id: web-lint
        name: Web lint
        entry: make lint-web
        language: system
        pass_filenames: false

      - id: web-typecheck
        name: Web typecheck
        entry: make typecheck-web
        language: system
        pass_filenames: false

      - id: typecheck
        name: Typecheck all apps
        entry: make typecheck
        language: system
        pass_filenames: false
