go 1.26.0

use (
	./apps/backend
	./pluginsdk
)

replace (
	google.golang.org/genproto/googleapis/api => google.golang.org/genproto v0.0.0-20230410155749-daa745c078e1
	google.golang.org/genproto/googleapis/rpc => google.golang.org/genproto v0.0.0-20230410155749-daa745c078e1
)
